nodered/flows.json
[{"id":"7042507f.0ab0b","type":"tab","label":"simple mqtt","disabled":false,"info":"# A simple mqtt example \n\nClick a button (inject) node to publish a time stamp message through mqtt."},{"id":"741c6c55.0d1bd4","type":"mqtt in","z":"7042507f.0ab0b","name":"button/1","topic":"example1/button/1","qos":"0","broker":"f5279b01.b328d8","inputs":0,"x":120,"y":160,"wires":[["cf9f3773.2f3578"]]},{"id":"cf9f3773.2f3578","type":"debug","z":"7042507f.0ab0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":160,"wires":[]},{"id":"a7192ce2.ef2cb","type":"mqtt out","z":"7042507f.0ab0b","name":"button/1","topic":"example1/button/1","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f5279b01.b328d8","x":290,"y":100,"wires":[]},{"id":"9321eaae.4175f8","type":"inject","z":"7042507f.0ab0b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["a7192ce2.ef2cb"]]},{"id":"f5279b01.b328d8","type":"mqtt-broker","name":"broker","broker":"mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]