nodered/flows.json
[
    {
        "id": "47f1e477d3cabc70",
        "type": "tab",
        "label": "simple mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8c64d1f3c6783ba",
        "type": "tab",
        "label": "multi in / one out mqtt",
        "disabled": false,
        "info": "# A multiple input / one output mqtt example \n\nClick either button to publish a string message through mqtt.\n\nThe topic on the mqtt output node is left blank. \nIt will pass along the topics that are set in the inject nodes.\n\nThe mqtt input node uses a wild card (button/#) topic to process messages for either node."
    },
    {
        "id": "6283281f61d26c6d",
        "type": "tab",
        "label": "multi in / out mqtt",
        "disabled": false,
        "info": "# A multiple input / output mqtt example \n\nClick either button to publish a string message through mqtt.\n\nThe topic on the mqtt output node is left blank. \nIt will pass along the topics that are set in the inject nodes.\n\nThis example shows using individual mqtt input nodes to each listen and process only one type of message."
    },
    {
        "id": "5673f1d5.dd5f1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "82981c5657a52eb8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f5279b01.b328d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c51cbf73.d90738",
        "type": "mqtt in",
        "z": "47f1e477d3cabc70",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto",
        "broker": "5673f1d5.dd5f1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "7781c73.639b8b8"
            ]
        ]
    },
    {
        "id": "7008d6ef.b6ee38",
        "type": "mqtt out",
        "z": "47f1e477d3cabc70",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "82981c5657a52eb8",
        "x": 517,
        "y": 131,
        "wires": []
    },
    {
        "id": "ef5b970c.7c864",
        "type": "inject",
        "z": "47f1e477d3cabc70",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 153,
        "wires": [
            [
                "7008d6ef.b6ee38"
            ]
        ]
    },
    {
        "id": "7781c73.639b8b8",
        "type": "debug",
        "z": "47f1e477d3cabc70",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 515,
        "y": 257,
        "wires": []
    },
    {
        "id": "c2404ca7120fc0ce",
        "type": "mqtt in",
        "z": "d8c64d1f3c6783ba",
        "name": "",
        "topic": "example2/button/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "f5279b01.b328d8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "f6367c40f6227716"
            ]
        ]
    },
    {
        "id": "f6367c40f6227716",
        "type": "debug",
        "z": "d8c64d1f3c6783ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "05fd40d8ed9b68b9",
        "type": "mqtt out",
        "z": "d8c64d1f3c6783ba",
        "name": "mqtt output",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5279b01.b328d8",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "b761bf4228f6c6e8",
        "type": "inject",
        "z": "d8c64d1f3c6783ba",
        "name": "button alpha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "example2/button/alpha",
        "payload": "alpha",
        "payloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "05fd40d8ed9b68b9"
            ]
        ]
    },
    {
        "id": "8aca2f396c50de96",
        "type": "inject",
        "z": "d8c64d1f3c6783ba",
        "name": "button beta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "example2/button/beta",
        "payload": "beta",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "05fd40d8ed9b68b9"
            ]
        ]
    },
    {
        "id": "4bd29939506dfe27",
        "type": "mqtt in",
        "z": "6283281f61d26c6d",
        "name": "alpha",
        "topic": "example3/button/alpha",
        "qos": "0",
        "datatype": "auto",
        "broker": "f5279b01.b328d8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 70,
        "y": 220,
        "wires": [
            [
                "d54e2e52e2046f5d"
            ]
        ]
    },
    {
        "id": "29fffe7e76f56808",
        "type": "debug",
        "z": "6283281f61d26c6d",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "2f17079b3a609aa0",
        "type": "mqtt out",
        "z": "6283281f61d26c6d",
        "name": "mqtt output",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5279b01.b328d8",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "d6a1c6d92a167c0b",
        "type": "inject",
        "z": "6283281f61d26c6d",
        "name": "button alpha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "example3/button/alpha",
        "payload": "alpha",
        "payloadType": "str",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2f17079b3a609aa0"
            ]
        ]
    },
    {
        "id": "a464db233a3d4565",
        "type": "inject",
        "z": "6283281f61d26c6d",
        "name": "button beta",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "example3/button/beta",
        "payload": "beta",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "2f17079b3a609aa0"
            ]
        ]
    },
    {
        "id": "d54e2e52e2046f5d",
        "type": "function",
        "z": "6283281f61d26c6d",
        "name": "hello alpha",
        "func": "msg.payload = \"Hello Alpha\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 220,
        "wires": [
            [
                "29fffe7e76f56808"
            ]
        ]
    },
    {
        "id": "7877b3bfc465b435",
        "type": "function",
        "z": "6283281f61d26c6d",
        "name": "hello beta",
        "func": "msg.payload = \"Hello Beta\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "29fffe7e76f56808"
            ]
        ]
    },
    {
        "id": "973e4a1a60e14a0c",
        "type": "mqtt in",
        "z": "6283281f61d26c6d",
        "name": "beta",
        "topic": "example3/button/beta",
        "qos": "0",
        "broker": "f5279b01.b328d8",
        "inputs": 0,
        "x": 70,
        "y": 280,
        "wires": [
            [
                "7877b3bfc465b435"
            ]
        ]
    }
]